---

---

<main class=" p-5 h-full md:mt-0 relative lg:p-12 xl:py-[8rem] ">
    <div id="aboutus" class="absolute top-[-80px]">
    </div>
    <section class="bg-slate-100 shadow-xl p-5 w-full flex justify-center flex-col items-center rounded-xl">
        <h2 class="text-[color:var(--accent)] font-semibold text-2xl lg:text-4xl md:text-3xl">O nas</h2>
        
        <article class="p-4 mt-2 max-w-[90%]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, aliquam eos. Accusantium neque vel repellat nostrum nesciunt obcaecati quasi veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eaque, molestias non, dolor velit nisi asperiores vel tempora repellendus ducimus commodi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, aliquam eos. Accusantium neque vel repellat nostrum nesciunt obcaecati quasi veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eaque, molestias non, dolor velit nisi asperiores vel tempora repellendus ducimus commodi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </article>
    </section>

</main>