---

---


    <header id="header" class="bg-[url('/images/tlo.jpg')] min-h-screen w-full bg-center bg-cover flex items-center justify-center flex-col">
        <p class="max-w-xl pt-5 px-3 text-sm z-10 text-center sm:text-lg md:text-xl lg:text-2xl text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="text-[color:var(--accent)]">Alias quos placeat consectetur</span> modi et facere eum officiis omnis at qui?</p>
        <button class="bg-[color:var(--accent)] text-white px-3 py-1 mt-10 rounded-md tracking-wider text-md shadow-black shadow-2xl select-none sm:px-4 sm:py-2 md:px-7 md:py-3 lg:px-9 lg:py-5 md:text-lg">Click me!</button>
    </header> 
