---

---
     <!--  -->
<section class="md:bg-[url(/images/dzieci.jpg)] lg:h-[400px] lg:bg-fixed lg:bg-cover lg:bg-no-repeat lg:bg-bottom xl:h-[500px]">
    <img src="/images/dzieci.jpg" alt="dzieci" class="object-contain w-full h-auto object-center lg:hidden">
        
</section>




